@import url(./__beta/card__beta.css);
@import url(./__button/card__button.css);
@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__list/card__list.css);
@import url(./__subtitle/card__subtitle.css);
@import url(./__info/card__info.css);


.card {
    height: 330px;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
.card:hover .card__image {
    width: 248px;
    height: 248px;
    transform: rotate(-5deg);
    
}
.card:hover{
    border: 2px solid #0088CC;
}