@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/card/card.css);
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.woff) format('woff');
}

.card__post {
    height: 330px;

    display: flex;
    justify-content: space-between;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
}
.card_academy {
  height: 330px;

  display: flex;
  justify-content: space-between;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}
.card__vks {
  height: 140px;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}
.card__info_vks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-mode .card__vks  {
  border: 2px solid rgba(255, 255, 255, 0.15);
}
.dark-mode .card__post_academy  {
  border: 2px solid rgba(255, 255, 255, 0.15);
}
.dark-mode .card_academy {
  border: 2px solid rgba(255, 255, 255, 0.15);
}
.card__list_academy {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  max-width: 1690px;
  margin: 0 auto;
}

.card__post_academy {
  height: 330px;

  display: flex;
  justify-content: space-between;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
}

.card__pok {
  height: 140px;

  max-width: 550px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
body {
  margin: 0;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  
}


p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
  }
  


  
  .dark-mode .card__button {
    background: rgba(255, 255, 255, 0.05);
  }
  .card__switch {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 15px;
    
  }
 
  .dark-mode h3 {

    color: rgb(255, 255, 255);
  
  }
  .dark-mode h2{

    color: rgb(255, 255, 255);
  
  }
  .dark-mode p {

    color: rgb(255, 255, 255);
  
  }

  .card__button_link-pok {
    width: 136px;
    height: 53px;
    margin-top: 20px;
}
.card__margin {
  margin-right: 10px;
}
  .card__info_pok {
    margin-top: 20px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .dark-mode h3 {

    color: rgb(255, 255, 255);
  
  }
  .dark-mode .card__pok {
    border: 2px solid rgba(255, 255, 255, 0.15);
  }
  .dark-mode .card {
    border: 2px solid rgba(255, 255, 255, 0.15);
  }
  .dark-mode .card__post{
    border: 2px solid rgba(255, 255, 255, 0.15);
  
  }
  .dark-mode .card:hover{
    border: 2px solid #0088CC;
  
  }
  .dark-mode .card__button {
    color: white;
  }
  .dark-mode .card__button:hover {
    cursor: pointer;
    background: #0088CC;
}
  .dark-mode {
    background-color: #252934;
    transition: background-color 0.25s ease-in-out;
    height: 100%;
    /* position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
  }
  
  .light-mode {
    background-color: #fff;
    transition: background-color 0.25s ease-in-out;
    height: 100vh;
  }
  
 
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 14px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0088CC;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch-checkbox {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    .dark-mode {
    
      height: 100%;
    }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #dfdfdf;
}
body::-webkit-scrollbar-thumb {
  background: #0088cc;
}

.dark-mode .button__back {
  background: rgba(255, 255, 255, 0.05);
  color: white;
}
.button__back {
  font-family: 'Russo One', sans-serif;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 136px;
  height: 53px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
}
.button__back:hover {
  cursor: pointer;
  background: #0088CC;
  color: white;
}